test-results
node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
# .envdo 
# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
imagine.db
imagine.db-shm
imagine.db-wal
static/robots.txt

# Code Resources
.vscode/
.agents/
.claude
.claude/settings.local.json

# Documentation
docs/
resources/
src/lib/server/api-project.json

skills-lock.json


