@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@layer base {
	:root {
		--color-primary: 96 165 250; /* blue-400 */
		--color-secondary: 167 139 250; /* violet-400 */
	}

	.theme-girl {
		--color-primary: 251 113 133; /* rose-400 */
		--color-secondary: 244 114 182; /* pink-400 */
	}

	.theme-boy {
		--color-primary: 52 211 153; /* emerald-400 */
		--color-secondary: 34 211 238; /* cyan-400 */
	}
}
